Beaker==1.10.0
Genshi==0.7.5
Paste==3.0.6
Pillow==5.4.1
PyCDS==2.2.1
PyYAML==5.4
WebOb==1.8.7
modelmeta==0.3.0
numpy==1.16.0
pydap==3.2.2
pydap-extras==0.1.1
python-dateutil==2.7.5
pytz==2018.9
simplejson==3.16.0
psycopg2
