<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xml:lang="en" lang="en">
<head>
<title>${title}</title>

<link type="text/css" href="${app_root}/css/jquery-ui-1.10.2.custom.css" rel="stylesheet" />
<link type="text/css" href="${app_root}/css/main.css" rel="stylesheet" />
<link type="text/css" href="${app_root}/css/accordionmenu.css" rel="stylesheet" />
<link py:if="'MSIE 7.0' in environ.get('HTTP_USER_AGENT', '')" type="text/css" href="${app_root}/css/ie7.css" rel="stylesheet" />

<script type="text/javascript">
<?python
import json
?>
// setup paths required in the javascript code
var gs_url = '${geoserver_url}';
var ncwms_url = '${ncwms_url}';
var app_root = '${app_root}';
var signupUrls = ${json.dumps(map(lambda p: p.signup, providers))};
var ensemble_name = '${ensemble_name}';
</script>
<script type="text/javascript" src="${app_root}/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="${app_root}/js/jquery-ui-1.10.2.custom.js"></script>
<script type="text/javascript" src="${app_root}/js/jq-init.js"></script>
<script type="text/javascript" src="${app_root}/js/zebra.js"></script>
<script type="text/javascript" src="${app_root}/${ol_path}"></script>
<script type="text/javascript" src="${app_root}/${proj_path}"></script>
<script type="text/javascript" src="${app_root}/js/OpacitySlider.js"></script>
<script type="text/javascript" src="${app_root}/js/accordionmenu.js"></script>
<script type="text/javascript" src="${app_root}/js/map.js"></script>
${header_block}
</head>
<body>
    <div id="page">
    <div id="header">
        <a href="http://pacificclimate.org"><img src="${app_root}/images/banner.png" alt="PCIC Logo" /></a>
        <h1>Downscaled Data</h1>
    </div><!-- /header -->
    <div id="topnav">
        <ul class="menu">
            <li><a href="http://pacificclimate.org">PCIC Home</a></li>
            <li><a href="http://pacificclimate.org/tools-and-data/">Back to Tools and Data</a></li>
            <li><a href="${app_root}/auth/pydap/pcds/">Catalogue</a></li>
            <li><a href="http://pacificclimate.org/pcds-faq/" target="_blank">FAQ</a></li>
        </ul>
	<div id="login-div">
	  <a id="login-button" />
	</div>
    </div><!-- /topnav -->
    <div id="main">
        <div id="map-wrapper">
            <div id="${map_div}">
                <div id="map-buttons">
                    <form action="/" method="post">
                      <input py:for="id, value in buttons" id="${id}" type="button" value="${value}" />
                    </form>
                </div>
            </div>
            <div id="map-title"></div>
	        <div id="location"></div>
        </div>
        <form id="filter" method="get" name="station_filters">
            <fieldset>
                <legend>Filter Options</legend>
                <div id="date-range">
                <label>Date Range</label>
                <input class="datepickerstart" id="from-date" name="from-date" type="text" value="YYYY/MM/DD" /> to
                <input class="datepickerend" id="to-date" name="to-date" type="text" value="YYYY/MM/DD" />
		        <input type="hidden" id="input-polygon" name="input-polygon" value="" />
                </div>
		<div id="acdnmenu">
		</div>
               <div id="reset">
                    <input id="filter-reset" type="button" value="Reset Filters" />
               </div>
           </fieldset>
           <fieldset>
               <legend>Download Data</legend>
               <div id="data-format">
               <label>Output Format</label><span class="helplink"><a id="format-link" title="View output format descriptions" href="/">[?]</a></span>
               <select name="data-format">
                   <option value="nc" selected="selected">NetCDF</option>
                   <option value="csv">CSV</option>
                   <option value="ascii">ASCII</option>
                   <option value="xls">MS Excel</option>
                   <!-- <option value="matlab">Matlab 5</option>-->
               </select>
               <div id="format-defs">
                <dl>
                    <dt>CSV</dt>
                    <dd>CSV stands for Comma Separated Values. This format is a human readable list of data typically with a time stamp, observational value, and flags with one line per observation time. Each observation is separated by commas. </dd>
                    <dt>ASCII</dt>
                    <dd>ASCII data are also in a text format with a identical data organization as the CSV data.</dd>
                    <dt>MS Excel</dt>
                    <dd>This data format is compatible with many popular spreadsheet programs such as Open Office, Libre Office and Microsoft Excel. Data organization is similar to CSV, but the format is more directly readable with spreadsheet software.</dd>
                    <dt>NetCDF</dt>
                    <dd>Net CDF is a self-describing file format widely used in the atmospheric sciences. Self describing means that the format information is contained within the file itself, so generic tools can be used to import these data. The format requires use of freely available applications to view, import, and export the data.</dd>
                    <!-- <dt>Matlab 5</dt>
                    <dd>This will output an array that may be imported in the the Mathworks' Matlab computational software.</dd>-->
                </dl>
               </div>
               </div>
               <div id="cliptodate">
                    <input name="cliptodate" type="checkbox" checked="checked" value="cliptodate" />
                    <label>Clip time series to filter date range</label>
               </div>
               <div class="download-buttons">
                    <input type="submit" id="climatology" value="Climatology" name="download-climatology" />
                    <input type="button" id="timeseries" value="Timeseries" name="download-timeseries" />
               </div>
           </fieldset>
        </form>
    </div><!-- /main -->
    <div id="nodelist">
        <!-- metadata table -->
        <form method="post" action="">
            <fieldset>
            <div id="metadata-format">
              <label>Output Format:</label> 
	      <select name="metadata-format">
		<option>Select one</option>
		<optgroup label="WFS">
		  <option value="csv">CSV</option>
		  <option value="GML2">GML2</option>
		  <option value="GML2-GZIP">GML2-GZIP</option>
		  <option value="text/xml; subtype=gml/3.1.1">GML3.1</option>
		  <option value="text/xml; subtype=gml/3.2">GML3.2</option>
		  <option value="json">GeoJSON</option>
		  <option value="SHAPE-ZIP">Shapefile</option>
		</optgroup>
		<optgroup label="WMS">
		  <option value="application/atom+xml">AtomPub</option>
		  <option value="image/gif">GIF</option>
		  <option value="application/rss+xml">GeoRSS</option>
		  <option value="image/geotiff">GeoTiff</option>
		  <option value="image/geotiff8">GeoTiff 8-bits</option>
		  <option value="image/jpeg">JPEG</option>
		  <option value="application/vnd.google-earth.kmz+xml">KML (compressed)</option>
		  <option value="application/vnd.google-earth.kml+xml">KML (plain)</option>
		  <option value="application/openlayers">OpenLayers</option>
		  <option value="application/pdf">PDF</option>
		  <option value="image/png">PNG</option>
		  <option value="image/png8">PNG 8bit</option>
		  <option value="image/svg+xml">SVG</option>
		  <option value="image/tiff">Tiff</option>
		  <option value="image/tiff8">Tiff 8-bits</option>
		</optgroup>
	      </select>
            </div>
            <div class="download-buttons" id="download-buttons">
                <input type="button" value="Download" />
            </div>
            </fieldset>
        </form>
	<div id="stationList"></div>
    </div>
    <div id="login-form">
      <form method="get" name="login" action="">
	<div id="close-login">
	  <button></button>
	</div>
	<fieldset>
	  <legend>Login</legend>
	  <div id="login-or-signup">
            <label>OpenID Provider</label>
	    <div>
              <select name="openid-provider">
		<option py:for="p in providers" value="${p.url}">${p.name}</option>
              </select>
	    </div>
	    <div>
	      <input id="do-login" type="button" value="Open login window" />
	    </div>
	    <div>
	      --- or ---
	    </div>
	    <div>
	      <input id="do-signup" type="button" value="Open sign up window" />
	    </div>
	  </div>
	</fieldset>
	<fieldset>
	  <legend>How it works</legend>
	  <p>Click "Login" to use an existing OpenID account. A new window will open asking you to sign in with the account provider. Once signed in, you will be returned to the data portal. PCIC uses OpenID to allow us to communicate with users via e-mail. If you don't have an OpenID account, click "Sign up". For information about OpenID click <a href="http://openid.net/get-an-openid/what-is-openid/">here</a></p>
	</fieldset>
	<fieldset>
	  <legend>Why do you want my e-mail address?</legend>
	  <p>PCIC will use your address only to contact you in the event major errors  are found in the data or when major changes to the data in the portal are made. Your e-mail address is the only personal information that PCIC will gather and will be kept secure.</p>
	</fieldset>
      </form>
    </div>
    <div id="footer">
        <div id="bottomnav">
            <ul class="menu">
	      <li>PCIC Data Portal version ${version}</li>
          <li py:for="entry in footer">
              <a href="${entry.ref}">${entry.name}</a>
          </li>
          </ul>
        </div>
    </div><!-- /footer -->
    </div><!-- /wrapper -->
</body>
</html>
